deps.make
*.o
demo2d
min2d
demo3d
demosv
bzip2-1.0.6
freetype-2.4.10
libpng-1.5.13
zlib-1.2.7
bzip2-1.0.6/**/*
freetype-2.4.10/**/*
libpng-1.5.13/**/*
zlib-1.2.7/**/*
_captured.png
**/*.tlog
**/*.obj
**/*.ipch
**/*.lastbuildstate
**/*.unsuccessfulbuild
**/*.log
**/*.pdb
dynamic_out.png
.DS_Store
Thumbs.db
demowin/DebugD3D/
demowin/DebugOGL/
moyai/DebugD3D/
moyai/DebugOGL/
zlib-1.2.7.tar
freetype-2.4.10.tar
glfw-2.7.7/examples/Boing.app/
glfw-2.7.7/examples/Gears.app/
glfw-2.7.7/examples/Mipmaps.app/
glfw-2.7.7/examples/Particles.app/
glfw-2.7.7/examples/Pong3D.app/
glfw-2.7.7/examples/SplitView.app/
glfw-2.7.7/examples/Triangle.app/
glfw-2.7.7/examples/Wave.app/
glfw-2.7.7/examples/listmodes
glfw-2.7.7/examples/listmodes.dSYM/
glfw-2.7.7/examples/mtbench
glfw-2.7.7/examples/mtbench.dSYM/
glfw-2.7.7/examples/mthello
glfw-2.7.7/examples/mthello.dSYM/
glfw-2.7.7/lib/cocoa/libglfw.dylib
glfw-2.7.7/tests/Accuracy.app/
glfw-2.7.7/tests/Dynamic.app/
glfw-2.7.7/tests/FSAA.app/
glfw-2.7.7/tests/FSInput.app/
glfw-2.7.7/tests/Iconify.app/
glfw-2.7.7/tests/Peter.app/
glfw-2.7.7/tests/ReOpen.app/
glfw-2.7.7/tests/Tearing.app/
glfw-2.7.7/tests/defaults
glfw-2.7.7/tests/defaults.dSYM/
glfw-2.7.7/tests/events
glfw-2.7.7/tests/events.dSYM/
glfw-2.7.7/tests/joysticks
glfw-2.7.7/tests/joysticks.dSYM/
glfw-2.7.7/tests/version
glfw-2.7.7/tests/version.dSYM/
glfw-2.7.7/tests/*.exe
glfw-2.7.7/tests/*.ilk
glfw-2.7.7/examples/*.exe
glfw-2.7.7/examples/*.ilk
glfw-2.7.7/support/msvc110/Debug
glfw-2.7.7/support/msvc110/*.sdf
glfw-2.7.7/support/msvc110/*.suo
glfw-2.7.7/support/msvc110/Win32
glew-1.10.0/bin
glew-1.10.0/build/vc10/*.sdf
glew-1.10.0/build/vc10/*.suo
glew-1.10.0/build/vc10/tmp
glew-1.10.0/lib
glfw-3.1.2/CMakeCache.txt
glfw-3.1.2/CMakeFiles/
glfw-3.1.2/Makefile
glfw-3.1.2/cmake_install.cmake
glfw-3.1.2/cmake_uninstall.cmake
glfw-3.1.2/docs/Doxyfile
glfw-3.1.2/examples/CMakeFiles/
glfw-3.1.2/examples/Makefile
glfw-3.1.2/examples/boing.app/
glfw-3.1.2/examples/cmake_install.cmake
glfw-3.1.2/examples/gears.app/
glfw-3.1.2/examples/heightmap.app/
glfw-3.1.2/examples/particles.app/
glfw-3.1.2/examples/simple.app/
glfw-3.1.2/examples/splitview.app/
glfw-3.1.2/examples/wave.app/
glfw-3.1.2/src/CMakeFiles/
glfw-3.1.2/src/Makefile
glfw-3.1.2/src/cmake_install.cmake
glfw-3.1.2/src/glfw3.pc
glfw-3.1.2/src/glfw3Config.cmake
glfw-3.1.2/src/glfw3ConfigVersion.cmake
glfw-3.1.2/src/glfw_config.h
glfw-3.1.2/tests/CMakeFiles/
glfw-3.1.2/tests/Makefile
glfw-3.1.2/tests/clipboard
glfw-3.1.2/tests/cmake_install.cmake
glfw-3.1.2/tests/cursor
glfw-3.1.2/tests/empty.app/
glfw-3.1.2/tests/events
glfw-3.1.2/tests/gamma
glfw-3.1.2/tests/glfwinfo
glfw-3.1.2/tests/iconify
glfw-3.1.2/tests/joysticks
glfw-3.1.2/tests/monitors
glfw-3.1.2/tests/msaa
glfw-3.1.2/tests/reopen
glfw-3.1.2/tests/sharing.app/
glfw-3.1.2/tests/tearing.app/
glfw-3.1.2/tests/threads.app/
glfw-3.1.2/tests/title.app/
glfw-3.1.2/tests/windows.app/
demowin/Release/moyai.lib
demowin/Release/demowin.exe
moyai/Debug/vc120.idb
libftgl.a
libmoyaicl.a
libmoyaisv.a
libsnappy.a
glfw-3.1.2/src/libglfw3.a
