deps.make
*.o
*.a
demo2d
demo3d
demosv
bzip2-1.0.6
freetype-2.4.10
libpng-1.5.13
zlib-1.2.7
bzip2-1.0.6/**/*
freetype-2.4.10/**/*
libpng-1.5.13/**/*
zlib-1.2.7/**/*
_captured.png
**/*.tlog
**/*.obj
**/*.ipch
**/*.lastbuildstate
**/*.unsuccessfulbuild
**/*.log
**/*.pdb
dynamic_out.png
.DS_Store
Thumbs.db
demowin/DebugD3D/
demowin/DebugOGL/
moyai/DebugD3D/
moyai/DebugOGL/
zlib-1.2.7.tar
freetype-2.4.10.tar
glfw-2.7.7/examples/Boing.app/
glfw-2.7.7/examples/Gears.app/
glfw-2.7.7/examples/Mipmaps.app/
glfw-2.7.7/examples/Particles.app/
glfw-2.7.7/examples/Pong3D.app/
glfw-2.7.7/examples/SplitView.app/
glfw-2.7.7/examples/Triangle.app/
glfw-2.7.7/examples/Wave.app/
glfw-2.7.7/examples/listmodes
glfw-2.7.7/examples/listmodes.dSYM/
glfw-2.7.7/examples/mtbench
glfw-2.7.7/examples/mtbench.dSYM/
glfw-2.7.7/examples/mthello
glfw-2.7.7/examples/mthello.dSYM/
glfw-2.7.7/lib/cocoa/libglfw.dylib
glfw-2.7.7/tests/Accuracy.app/
glfw-2.7.7/tests/Dynamic.app/
glfw-2.7.7/tests/FSAA.app/
glfw-2.7.7/tests/FSInput.app/
glfw-2.7.7/tests/Iconify.app/
glfw-2.7.7/tests/Peter.app/
glfw-2.7.7/tests/ReOpen.app/
glfw-2.7.7/tests/Tearing.app/
glfw-2.7.7/tests/defaults
glfw-2.7.7/tests/defaults.dSYM/
glfw-2.7.7/tests/events
glfw-2.7.7/tests/events.dSYM/
glfw-2.7.7/tests/joysticks
glfw-2.7.7/tests/joysticks.dSYM/
glfw-2.7.7/tests/version
glfw-2.7.7/tests/version.dSYM/
glfw-2.7.7/tests/*.exe
glfw-2.7.7/tests/*.ilk
glfw-2.7.7/examples/*.exe
glfw-2.7.7/examples/*.ilk
glfw-2.7.7/support/msvc110/Debug
glfw-2.7.7/support/msvc110/*.sdf
glfw-2.7.7/support/msvc110/*.suo
glfw-2.7.7/support/msvc110/Win32
glew-1.10.0/bin
glew-1.10.0/build/vc10/*.sdf
glew-1.10.0/build/vc10/*.suo
glew-1.10.0/build/vc10/tmp
glew-1.10.0/lib