deps.make
*.o
*.a
demo2d
demo3d
demosv
bzip2-1.0.6
freetype-2.4.10
glfw-2.7.7
libpng-1.5.13
zlib-1.2.7
bzip2-1.0.6/**/*
freetype-2.4.10/**/*
libpng-1.5.13/**/*
zlib-1.2.7/**/*
glfw-2.7.7/**/*
glew-1.10.0/**/*
_captured.png
**/*.tlog
**/*.obj
**/*.ipch
**/*.lastbuildstate
**/*.unsuccessfulbuild
**/*.log
**/*.pdb
dynamic_out.png
.DS_Store

demowin/DebugD3D/
demowin/DebugOGL/
moyai/DebugD3D/
moyai/DebugOGL/
