*.o
CMakeFiles/**/*
Debug/**/*
CMakeCache.txt
ALL_BUILD.*
Project.*
ZERO_CHECK.*
cmake_install.cmake
demo-*.vcxproj*
demo-font.dir/**/*
freetype-gl.vcxproj*
glew.asm
makefont.vcxproj*
stdc_test.c
makefont
demo-ansi
demo-benchmark
demo-cartoon
demo-console
demo-cube
demo-display-list
demo-distance-field
demo-font
demo-gamma
demo-glyph
demo-lcd
demo-line-aa
demo-makefont
demo-outline
demo-subpixel
demo-texture
